* {
    background-color: rgb(46, 46, 46);
    border: solid 1px rgb(46, 46, 46);
    border-radius: 10px;
    overflow: hidden; /* Hide scrollbars */
    font-family: monospace;
}


.header {
    height: 100px;
}

#Board {
    background-color: rgb(15, 15, 15);
    width: 510px;
    height: 510px;
    
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; /*removes gap from flex wrap */
    margin: auto;
    
}

.block {
    background-color: black;
    width: 100px;
    height: 100px;
}

/*Enemy Section Top */
#enemy1 {
    background-color: red;
    width: 100px;
    height: 100px;
}

#enemy1:hover {
    transition: 0.2s;
    color: rgb(248, 141, 141);
    background-color: rgb(248, 141, 141);
}

#enemy2 {
    background-color: red;
    width: 100px;
    height: 100px;
}

#enemy2:hover {
    transition: 0.2s;
    color: rgb(248, 141, 141);
    background-color: rgb(248, 141, 141);
}

#enemy3 {
    background-color: red;
    width: 100px;
    height: 100px;
}

#enemy3:hover {
    transition: 0.2s;
    color: rgb(248, 141, 141);
    background-color: rgb(248, 141, 141);
}

#enemy4 {
    background-color: red;
    width: 100px;
    height: 100px;
}

#enemy4:hover {
    transition: 0.2s;
    color: rgb(248, 141, 141);
    background-color: rgb(248, 141, 141);
}

#enemy5 {
    background-color: red;
    width: 100px;
    height: 100px;
}

#enemy5:hover {
    transition: 0.2s;
    color: rgb(248, 141, 141);
    background-color: rgb(248, 141, 141);
}


/*Enemy Section Bottom */

/*person duplicates Top */
#person {
    background-color: green;
    width: 100px;
    height: 100px;
}

#person:hover {
    transition: 0.2s;
    color: rgb(141, 248, 147);
    background-color: rgb(141, 248, 147);
}

#person2 {
    background-color: green;
    width: 100px;
    height: 100px;
}

#person2:hover {
    transition: 0.2s;
    color: rgb(141, 248, 147);
    background-color: rgb(141, 248, 147);
}

#person3 {
    background-color: green;
    width: 100px;
    height: 100px;
}

#person3:hover {
    transition: 0.2s;
    color: rgb(141, 248, 147);
    background-color: rgb(141, 248, 147);
}

#person4 {
    background-color: green;
    width: 100px;
    height: 100px;
}

#person4:hover {
    transition: 0.2s;
    color: rgb(141, 248, 147);
    background-color: rgb(141, 248, 147);
}

/*person duplicates bottom */

button {
    background-color: aqua;
    width: 468px;
    height: 40px;;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    text-align: center;
    font-size: 25px;
    font-weight: 900;
    z-index: 9999;
    position:relative
}

button:hover {
    transition: 0.2s;
    background-color: blue;
}

button:active {
    background-color: darkblue;
}

.timerScoreGroup {
    display: flex;
    justify-content: center;
    gap: 140px;
}

.timer {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: white;
    user-select: none;
}

.score{
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: white;
    user-select: none;
}

.profileLink {
    margin-top: 20px;
    display: flex;
    justify-content: center;


    color: rgb(168, 206, 0);
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
}

.profileLink:hover {
    text-decoration: underline;
}