* {
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(255, 255, 255);
    border-radius: 10px;

    font-family: monospace;
}

#Board {
    
    background-color: white;
    width: 468px;
    height: 468px;


    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; /*removes gap from flex wrap */
    margin: auto;
}

#enemy {
    background-color: red;
    width: 50px;
    height: 50px;
}

#person {
    background-color: green;
    width: 50px;
    height: 50px;
}

button {
    background-color: aqua;
    width: 468px;
    height: 40px;;

    text-align: center;
    font-size: 25px;
    font-weight: 900
}

button:hover {
    transition: 0.2s;
    background-color: blue;
}

button:active {
    background-color: darkblue;
}

.timerScoreGroup {
    display: flex;
    justify-content: center;
    gap: 250px;
}

.timer {
    text-align: center;
    font-size: 25px;
    font-weight: 900
}

.score{
    text-align: center;
    font-size: 25px;
    font-weight: 900
}
