* {
    background-color: rgb(255, 255, 255);

}

#Board {
    border: solid 1px rgb(255, 0, 0);
    background-color: grey;
    width: 468px;
    height: 468px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; /*removes gap from flex wrap */

}

#enemy {
    border: solid 1px rgb(255, 255, 255);
    background-color: red;
    width: 50px;
    height: 50px;
}

#person {
    border: solid 1px rgb(255, 255, 255);
    background-color: green;
    width: 50px;
    height: 50px;
}